In [10]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.cross_validation import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction import DictVectorizer

In [11]:
# Import delay data
Delay_cause = pd.read_csv('Delay_cause.csv')

# Create a variable - TOTAL_DELAY
Delay_cause['TOTAL_DELAY'] = Delay_cause['CARRIER_DELAY'] + Delay_cause['WEATHER_DELAY'] + Delay_cause['NAS_DELAY'] + Delay_cause['SECURITY_DELAY'] + Delay_cause['LATE_AIRCRAFT_DELAY']

# Create a variable - DELAY, indicate the flight is delay or not (Delay = Any Delay above 0 minutes)
DELAY = np.zeros(np.size(Delay_cause['TOTAL_DELAY']))
Delay = np.where(Delay_cause['TOTAL_DELAY'] >= 0)
DELAY[Delay] = 1
Delay_cause['DELAY'] = DELAY

Delay_cause.head()

,UNIQUE_CARRIER,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 6,TOTAL_DELAY,DELAY
0,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,AA,0,0,47,0,66,NaN,113,1

In [12]:
Origin_Dest = pd.read_csv('Origin_Dest.csv')
Origin_Dest.head()

,UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_STATE_NM,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_WAC,Unnamed: 19
0,AA,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",TX,48,Texas,74,11433,1143302,31295,DTW,"Detroit, MI",MI,26,Michigan,43,NaN
1,AA,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",TX,48,Texas,74,11433,1143302,31295,DTW,"Detroit, MI",MI,26,Michigan,43,NaN
2,AA,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",TX,48,Texas,74,11433,1143302,31295,DTW,"Detroit, MI",MI,26,Michigan,43,NaN
3,AA,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",TX,48,Texas,74,11433,1143302,31295,DTW,"Detroit, MI",MI,26,Michigan,43,NaN
4,AA,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",TX,48,Texas,74,11433,1143302,31295,DTW,"Detroit, MI",MI,26,Michigan,43,NaN

In [13]:
Flight_summary = pd.read_csv('Flight_summary.csv')
Flight_summary.head()

,UNIQUE_CARRIER,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,DISTANCE_GROUP,Unnamed: 7
0,AA,158,155,132,1,986,4,NaN
1,AA,158,150,126,1,986,4,NaN
2,AA,158,170,135,1,986,4,NaN
3,AA,158,151,129,1,986,4,NaN
4,AA,158,171,137,1,986,4,NaN

In [14]:
DepP_ArrP = pd.read_csv('DepP_ArrP.csv')
DepP_ArrP.head()

,UNIQUE_CARRIER,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,DEP_TIME_BLK,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,ARR_DELAY_GROUP,ARR_TIME_BLK,Unnamed: 19
0,AA,1100,1057,-3,0,0,-1,1100-1159,15,1112,1424,8,1438,1432,-6,0,0,-1,1400-1459,NaN
1,AA,1100,1056,-4,0,0,-1,1100-1159,14,1110,1416,10,1438,1426,-12,0,0,-1,1400-1459,NaN
2,AA,1100,1055,-5,0,0,-1,1100-1159,21,1116,1431,14,1438,1445,7,7,0,0,1400-1459,NaN
3,AA,1100,1102,2,2,0,0,1100-1159,13,1115,1424,9,1438,1433,-5,0,0,-1,1400-1459,NaN
4,AA,1100,1240,100,100,1,6,1100-1159,20,1300,1617,14,1438,1631,113,113,1,7,1400-1459,NaN

In [15]:
#Predictors = Origin_Dest[['UNIQUE_CARRIER','ORIGIN','DEST']]
Predictors = Origin_Dest[['UNIQUE_CARRIER']]
#Predictors = Origin_Dest[['ORIGIN_AIRPORT_SEQ_ID','DEST_AIRPORT_SEQ_ID']]
#Predictors = Flight_summary[['AIR_TIME','DISTANCE']]
#Predictors['AIR_TIME'] = Flight_summary['AIR_TIME']
#Predictors['DISTANCE'] = Flight_summary['DISTANCE']
#Predictors['DEP_DELAY'] = DepP_ArrP['DEP_DELAY']
#Predictors['ARR_DELAY'] = DepP_ArrP['ARR_DELAY']

Predictors.head()

  UNIQUE_CARRIER
0             AA
1             AA
2             AA
3             AA
4             AA

In [8]:
Predictors = [dict(enumerate(sample)) for sample in Predictors]
vect = DictVectorizer(sparse=False)
Predictors_v = vect.fit_transform(Predictors)
#print(Predictors)
#Predictand = Delay_cause.DELAY 
#print(np.sum(Predictand))
# Split the data, 80% for training, 20% for testing
#PredictorsTrain, PredictorsTest, PredictandTrain, PredictandTest = train_test_split(Predictors, Predictand, test_size = 0.2)
#PredictorsTrain.shape
#Predictors_v
print(Predictors)

[{0: 'U', 1: 'N', 2: 'I', 3: 'Q', 4: 'U', 5: 'E', 6: '_', 7: 'C', 8: 'A', 9: 'R', 10: 'R', 11: 'I', 12: 'E', 13: 'R'}]

In [9]:
Predictors.describe()

AttributeError: 'list' object has no attribute 'describe'

In [1]:
model = DecisionTreeClassifier()
#DTCmodel = model.fit(PredictorsTrain, PredictandTrain)
#DTCprediction = DTCmodel.predict(PredictorsTest)
#print(DTCprediction)

NameError: name 'DecisionTreeClassifier' is not defined